body{
    background: green;
}
section{
    border: solid 2px blue;
    display: flex;
    flex-wrap: wrap;
    
}
.nombres{
    border: solid red;
}
.imagen {
    height:200px
   }
img {
    width: auto; 
    max-height: 100%; 
   }
