
* {
    box-sizing: border-box;
  }
body{
    background-color: #7E9ABF;
    margin: 0;
    display: flex;
    flex-direction: column;
 }
 .castillo{
    width: 100%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
}
 header{
    position: sticky;   
    top: 0;
    background-color: #4A4A80;
    height: 60px ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    z-index: 1;
}
nav{
    width: 450px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.filtro {
    background-color: #365B73;
    color: beige;
    height: auto;
    width: 200px;
    border: solid 2px #7E9ABF;
    border-radius: 5px;
    margin: auto;
    padding: 5px;
    font-size: medium;
}
.buscar {
    background-color: #365B73;
    color: beige;
    height: auto;
    width: 350px;
    border: solid 2px #7E9ABF;
    border-radius: 5px;
    margin: auto;
    padding: 5px;
    font-size: medium;
}
::placeholder {
    color: beige;
}
.filtro::-webkit-scrollbar{
    width: 8px;
}
.filtro::-webkit-scrollbar-thumb{
    background-color: #7E9ABF;
    border-radius: 4px;
}
section{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    margin-left: 15px;
    margin-right: 15px;
}
.card{
    background-color: transparent;
    text-align: center;
    width: 200px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 5px black;
    perspective: 1000px;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card:hover{
    transform: rotateY(180deg);
}
.front{
    background-color: #365B73;
    font-size: large;
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    width: 200px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    color: beige;
}
.back{
    background-color: #365B73;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 200px;
    height: 250px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}  
.info{
    margin: auto;
    color: beige;  
}  
img {
    justify-content: center;
    width: auto;
    height: 170px;
    margin: auto;
}
.nombre {
    margin: 10px;
}